[Desktop Entry]
Version=1.0
Name=Rubas Core
Comment=Rubas P2P Cryptocurrency
Comment[de]=Verbinde mit dem Rubas peer-to-peer Netzwerk
Comment[fr]=Rubas, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Rubas, eşten eşe kriptografik sanal para birimi
Exec=rubas-qt %u
Terminal=false
Type=Application
Icon=rubas128
MimeType=x-scheme-handler/rubas;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Rubas-qt
